.scoreboard {
    height: 100px;
    width: 100%;
    background-color:rgb(42, 42, 94);
   font-size: 50px;
   font-family: 'Roboto Condensed', sans-serif;
    color:white;
    font-weight: 600;
    text-align: center;
   padding-top: 15px;
   
}